# Node
node_modules/
npm-debug.log
yarn-error.log

# Android
android/app/build/
android/build/
android/.gradle/
android/gradle/
android/gradlew
android/gradlew.bat
android/local.properties
android/app/src/main/assets/index.android.bundle
android/app/src/main/res/drawable-*/
android/app/src/main/res/raw/
*.keystore

# iOS
ios/build/
ios/Pods/

# Misc
.DS_Store
*.pem

# Firebase
android/app/google-services.json